{
  "create": {
    "appName": "{=name}",
{!!l10n}    "l10n": {=l10n},
    "path": {
      "type": "src/{=name}/type",
      "typeIndex": "src/{=name}/type.js",
      "module": "src/module"
    },
    "templates": [
      "./lib/scripts/templates"
    ]
  },
  "build": {
    "file": "index.html",
    "output": "build"
  },
  "server": {
    "port": 8001,
    "rewrite": {
      "^/api/(.*)$": "http://example.com/api/$1 [P, QSA]"
    }
  }
}
