{
  "create": {
    "appName": "{=name}",
    "l10n": {=l10n},
    "path": {
      "type": "src/{=name}/type",
      "typeIndex": "src/{=name}/type.js",
      "module": "src/module"
    }
  },
  "build": {
    "file": "index.html",
    "output": "build"
  },
  "server": {
    "port": 8080,
    "ignore": [
      "lib/basisjs/demo",
      "lib/basisjs/docs",
      "lib/basisjs/test"
    ],
    "rewrite": {
      "^/api/(.*)$": "http://example.com/api/$1 [P]"
    }
  }
}