{
  "create": {
    "l10n": {l10n},
    "pathes": {
      "type": "{appName}/type",
      "typeIndex": "{appName}/type.js",
      "module": "{appName}/module"
    }
  },
  "build": {
    "file": "index.html",
    "output": "build"
  },
  "server": {
    "port": 8080,
    "ignore": [
      ".git",
      ".svn",
      "lib/basisjs/.git",
      "lib/basisjs/demo",
      "lib/basisjs/docs",
      "lib/basisjs/test"
    ],
    "rewrite": {
      "^/api/(.*)$": "http://example.com/api/$1"
    }
  }
}