<b:isolate/>
<b:style src="./client.css"/>

<div class="item {online} {selected} {}" event-click="select">
  <span class="title">{title}&nbsp;</span>
  <span class="location">{location}&nbsp;</span>
</div>
