<b:isolate/>
<b:style src="./client.css"/>

<div class="item item_{selected}" event-click="select">
  <span class="num" b:show="{pickMode}">{num}</span>
  <span class="title title_{online}">{title}&nbsp;</span>
  <span class="location">{location}&nbsp;</span>
</div>
