<b:style src="./rel.css"/>
<b:l10n src="./rel-explicit.l10n"/>

<b:include src="./rel-include.tmpl"/>
<img src="./root/image.svg"/>
<div style="background: url(root/attr-style-image.svg)"/>
{l10n:test}
